:root {
    --main-color: #1d7597;
    --main-color-lighter:#1d7597;
    --header-bg:#11759c;
    --contrast-bg: #f7f7f7;
    --footer-bg: #11759c;
    --link-hov:#fab058;
    --link-hov-dark:#df861c;
    --disabled-link:#bfbfbf;
}

body {
    margin:0px !important;
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:var(--main-color) !important;
}

main {
    position: relative;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
    font-weight: 400;
}

a:hover {
    transition: 0.3s;
}

h1, h2 {
    color: var(--main-color);
}

/* Burger Menu */
/* desktop */
@media only screen and (min-width: 1082px) {
    .burger-menu, .bm-burger-button {
        display:none;
    }
}
/* mobile */
@media only screen and (max-width: 1081px) {
    .header-links {
        display: none;
    }
    .header {
        position:fixed !important;

    }
}

.bm-item {
    width:auto;
    padding-left:10px;
    border-left: 2px solid transparent;
}
.bm-item:hover{
    border-left: 2px solid white;
}

/* Secondary pages */
.section {
    width: 60%;
}

/* Grids */
.grid-container {
    width: 100%;
    height: auto;
    background: var(--contrast-bg);
    display:flex;
    align-items:center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 50px;
}

.grid-item {
    width: 33.3%;
    height: 150px;
    display: inline-block;
    /* align-items: center; */
    /* flex-direction: column; */
    margin: 20px 0px;
    text-align:center;
    padding-bottom: 70px;
}

.grid-item > a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 7px 20px;
    background: var(--main-color);
    color: white;
    border-radius: 7px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    /*font-size: calc(0.3vw + 1em);*/
    font-size: clamp(5px, calc(1vw + 5px), 20px);
    /* border: 2px solid var(--main-color); */
}

.grid-item > a:hover {
    background:white;
    color: var(--main-color);
}

.grid-item > span {
    margin: 0 auto;
    width: 80%;
    display: block;
    text-align:center;
    font-size: calc(0.3vw + 0.7em);
    line-height: calc(0.8vw + 0.5em);
}

.grid-item > span a {

}

.grid-item > span a:hover{
    color: var(--link-hov-dark);
}


.desc {
    margin-top:20px !important;
    display: block;
    min-height: 70px !important;
    max-height: 120px;
    overflow: auto;
    /* text-align:left; */
}

.lab-name, .lab-name a{
    font-weight: 700 !important;
    font-size: calc(0.3vw + 0.6em) !important;
}

/* Selects */
.select-container {
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.select-container > * {
    width: 30%;
}

